header {
	margin-top: 20px;
}

#header-main {
	border: 1px solid black;
	width: 55%;
	height: 120px;
	float: left;
	margin-left: 35px;
	margin-bottom: 15px;
}

#header-name {
	text-align: center;
	margin-top: 10px;
	color: orange;
	font-size: 60px;
}

#header-info {
	text-align: center;
	margin-top: 4px;
	font-size: 20px;
}

#header-contact {
	border: 1px solid black;
	width: 35%;
	height: 120px;
	float: right;
	margin-right: 35px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-top: 4px;
	line-height: 0px;
	letter-spacing: 2px;
}

.contact-img {
	height: 20px;
	width: 20px;
}

.contact-info {
	position: relative;
	bottom: 5px;
	line-height: 14.5px;
	margin-left: 10px;
}
