* {
	box-sizing: border-box;
}

html {
	background: white;
}

body {
	border: 1px solid black;
	background: #b0c4de;
	margin: 20px auto;
	width: 960px;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

#profile, #experience, #skills, #projects, #education, #achievements {
	border: 1px solid black;
	margin: 15px 25px;
	padding: 10px;
	background: #fffaf0;
}

.heading {
	font-size: 18px;
	padding: 5px;
}

.hidden {
	display: none;
}